{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<!--Top Center Masthead-->
<div class="jumbotron">
    <h1 class="display-4">My App</h1>
    <p class="lead">A basic prototype website built with Django.</p>
    <p class="lead">
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'blogpost_list' %}"
            role="button">View Blog</a>
        {% else %}
            <a class="btn btn-success btn-lg" href="{% url 'signup' %}"
            role="button">Sign Up</a>
        {% endif %}
    </p>
</div>

{% endblock content %}