{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<div class="jumbotron">
    <h1 class="display-4">My App</h1>
    <p class="lead">A basic prototype website built with Django.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'blogpost_list' %}"
        role="button">View All Blog Posts</a>
    </p>
</div>

{% endblock content %}