{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row d-md-block">
            <div class="col-md-4 float-left">
                <h1 class="display-4">Profile</h1>
                <p>Username: {{ user }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Age: {{ user.age }}</p>
                <a href="{% url 'edit_profile' %}">Edit My Information</a>
            </div>
            <div class="col-md-4 float-right rounded border border-secondary" 
            style="background-color: whitesmoke;">
                <h4>Quick Actions</h4>
                <br />
                <p><a href="{% url 'password_change' %}">Change My Password</a></p>
                <p><a href="{% url 'delete_user' %}">Delete My Account</a></p>
            </div>
        </div>
    </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}